body {
    display: flex;
    flex-direction: column;
}

button {
    background: #0b6dff;
    border: 0;
    padding: 10px 20px;
    margin-top: 20px;
    color: white;
    border-radius: 20px;
    width: 20vw;
}

#kompilert {
    margin-top: 3em;
    border: 1px solid black;
    width: 80vw;
}